# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea
.vscode
*.swp
*.bak
*~
.DS_Store

# Logs
*.log

# Git
.git
.gitignore
.gitattributes

# Documentation
README.md
*.md

# Docker
Dockerfile
.dockerignore
docker-compose*.yml
