version: '3.8'

services:
  db:
    image: postgres:15
    container_name: postgres_db_modelo # colocar o nome da aplicação
    environment:
      POSTGRES_DB: bancomodelo # colocar o nome da aplicação
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-net

  app:
    build: .
    container_name: spring_app
    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/bancomodelo # colocar o nome da aplicação
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
    networks:
      - app-net

volumes:
  pgdata:

networks:
  app-net: