<!DOCTYPE>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display-swap" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css?family=Lato:wght@300;400;700&family=Roboto:wght@300;400&display=smap"
          rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
<body style="font-family: Arial, sans-serif; text-align: center;">
<div style="padding: 20px; border: 1px solid #ddd; border-radius: 10px; max-width: 500px; margin: auto;">
    <img src="cid:logoImage" alt="Logo" style="width: 150px; margin-bottom: 20px;"/>
    <h2 style="color: #333;">Novo Ticket Aberto</h2>
    <p style="font-size: 16px; color: #000000;">O ticket <strong>#tituloTicket#</strong> foi aberto no projeto <strong>#nomeProjeto#</strong> por <strong>#nomeAbertura#</strong>.</p>
    <p style="font-size: 16px; color: #555;">Clique no link abaixo para acessar o ticket:</p>
    <p style="margin-top: 20px;"><a href="#linkTicket#" style="background-color: #007bff; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Acessar Ticket</a></p>
    <p style="font-size: 14px; color: #000000; margin-top: 30px;">Atenciosamente,</p>
    <p style="font-size: 14px; color: #000000;">Equipe DevHub</p>
</div>
</body>
</html>
